package {{packageName}}

{{! Import sections }}
{{#hasImports}}
import (
{{#imports}}
    "{{importValue}}"
{{/imports}}
)
{{/hasImports}}

{{! Enum Section }}
{{#isEnum}}
type {{structName}} {{enumType}}

const (
    {{#enums}}
    {{enumConstName}} {{structName}} = "{{enumStringValue}}"
    {{/enums}}
)
{{/isEnum}}
{{! Object Section }}
{{^isEnum}}
type {{structName}} struct {
{{#properties}}
    {{titledAttributeName}} {{^required}}*{{/required}}{{attributeType}} `json:"{{attributeName}}{{^required}},omitempty{{/required}}"`
{{/properties}}
}

{{#properties}}
func (o *{{structName}}) Get{{titledAttributeName}}() {{attributeType}} {
    if o == nil {
        var ret {{attributeType}}
        return ret
    }
    return {{^required}}*{{/required}}o.{{titledAttributeName}}
}

{{^required}}
func (o *{{structName}}) Get{{titledAttributeName}}Ok() {{attributeType}} {
    if o == nil || o.{{titledAttributeName}} == nil {
        var ret {{attributeType}}
        return ret
    }
    return *o.{{titledAttributeName}}
}
{{/required}}
func (o *{{structName}}) Set{{titledAttributeName}}(value {{attributeType}}) {
    o.{{titledAttributeName}} = {{^required}}&{{/required}}value
}

{{/properties}}
{{/isEnum}}
